
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/gilroy-bold.eot');
	src: local('☺'), url('../fonts/gilroy-bold.woff') format('woff'), url('../fonts/gilroy-bold.ttf') format('truetype'), url('../fonts/gilroy-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-medium.eot');
	src: local('☺'), url('../fonts/gilroy-medium.woff') format('woff'), url('../fonts/gilroy-medium.ttf') format('truetype'), url('../fonts/gilroy-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: Gilroy, sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #070707;
}

.page__background-grey {
	background-color: #F6F6F6;
	height: auto;
}

.page__background-white {
	background-color: #FFFFFF;
	height: auto;
}

.wrapper {
	max-width: 975px;
	min-height: 100%;
   margin-left: auto;
   margin-right: auto;
	padding: 0 15px;
}

.header {
   display: block;
	height: 88px;
}

.menu-list{
	padding-top: 33px;
	display: flex;
	justify-content: space-between;
}

.menu-list__link  a{
	color: #828282;
}

.menu-list__link_bold a{
	color: #070707;
	font-weight: 700;
   
}


hr{
	border: 0;
  	clear: both;
 	display: block;
  	width: 100%;               
  	height: 1px;
}

.hero-name {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 50px;
   
}

.hero-name__name {
	font-weight: 700;
	font-size: 47px;
	line-height: 59px;
	letter-spacing: 0em;
	padding-top: 34px;
	margin-bottom: -9px;
	height: auto;
}

.hero-name__prof {
	line-height: 22px;
	margin-left: -15px;
	
}

.hero-name__lang {
	font-size: 16px;
	transform: rotate(-90deg);
	margin-bottom: 28px;
	margin-right: -20px;
   
}
.hero-name__lang a:first-child{
   color:#828282;
}

.hero-name__lang a:last-child{
   color:#000;
}

.menu.active {
   top: 0;
}

.hero-img {
   width: 100%;
}

.hero-img__full-img{
	height: auto;
  	width: 100%;
  	max-width: 945px;
	}

.hero-img__mobile-img{
   display: none;
}

.page__about{
   margin: 103px 0 0;
   margin-left: auto;
   margin-right: auto;
}


.about__title{
   padding-top: 120px;
	display: block;
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 24px;
   text-align: center;
}

.about-text{
	font-size: 18px;
	line-height: 22px;
	max-width: 485.34px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
   text-align: center;
	padding-bottom: 115px;
}

.about-text p:nth-child(1){
	padding-bottom: 45px;
}
.about-text p:nth-child(2){
	padding-bottom: 45px;
}

.page__skills {
   margin-top: 91px;
   margin-bottom: 114px;
   text-align: center;
} 

.skills__h2{
	display: block;
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 69px;
}

.skills__p{
   margin-bottom: 10%;
}

.programm-skills {
   display: flex;  
   flex-wrap: wrap;
   margin: 0 -15px;
}
.programm-skill {
   flex: 0 0 25%;
   max-width: 25%;
   padding: 0 15px;
}

.programm-skills__img{
   margin-bottom: 5px;
}

.programm-skills__p{
   font-weight: 700;
}

.stars{
   margin-top: 38px;
}
.stars-4{
   margin-top: 52px;
}

.programm-skills__star{
   fill: #E5E5E5;
   margin-right: 7px;
   
}

.programm-skills__star_active {
   fill: #070707;
}


.programm-skills__p{
   margin-top: 15px;
   color: #828282;
   font-size: 14px;
}

.page-portfolio{
   text-align: center;
}

.portfolio__h2{
	display: block;
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 7.7%;
   padding-top: 14%;
   text-align: center;
}

.portfolio-img__underline {
   padding-top: 4%;
   padding-bottom: 10.5%;
   text-align: center;
}

.portfolio-img__underline a{
   color:#000;
   text-decoration: underline;
   
}




.page__footer {
	max-width: 975px;
	min-height: 100%;
   margin-left: auto;
   margin-right: auto;
	text-align: center;
   margin-top: 8%;
   padding: 0 15px;
}

.footer H2{
	display: block;
	font-weight: 700;
	font-size: 34px;   
}

.footer__welcome{
   margin: 3.5% auto 3.5%;
}

.footer__button {
   display: inline-block;
   background-color: black;
   border-radius: 50px;
   font-weight: 500;
   max-width: 250px;
   margin: 0 auto 9.3% auto;
   
}

.footer__button a{
   color:#FFFFFF;
   letter-spacing: 0.04em;
   font-size: 17px;
   display: block;
   height: 100%;
   padding: 13px 29px 12px;
   border-radius: 50px;
}

.footer__button a:hover{
   box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}


.page__footer-icons{
   max-width: 355px;
   margin: 0 -15px;
   margin: auto;
}

.footer-icons {
   display: flex;
   flex-wrap: wrap;
}

.footer-icon {
   flex: 0 0 25%;
   max-width: 25%;
   padding: 0 15px;
}

.footer__end {
   font-size: 14px;
   color: #828282;
   letter-spacing: 0.03em;
   line-height: 17px;
   margin-top: 4%;
   padding-bottom: 5%;
}

@media (max-width:415px){
   body.lock{
      overflow: hidden;
   }

   .wrapper-hero {
      padding: 0 29px;
      position: relative;
   }
   
   .page-about {
      padding: 0 29px;
   }

   .page__skills {
      padding: 0 29px;
   }

   .page-portfolio {
      padding: 0 29px;
   }
   
   .wrapper-footer {
      padding: 0 29px;
   }

   .header {
      display: block;
      height: 0;
   }
   

   .hero-header{
      height: 0;
   }

   .menu-list{
      position: fixed;
      top: -200%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #fff;
      transition: all 0.3s ease 0s;
      z-index: 9;

   }
   
   .menu-list.active {
      top: 0;
   }
   .menu-list{
      display: block;
      padding: 68px 26px;
      font-size: 34px;
      font-weight: 700;
   }
   
   .menu-list li{
      padding: 0 0 65px 0;
   }


   .hero-burger {
      display: block;
      position: absolute;
      width: 33px;
      height: 20px;
      z-index: 10;
      left: 325px;
      top: 73px;
   }


   .hero-burger::before,
   .hero-burger::after{
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

   .hero-burger::before{
      top: 0;
   }

   .hero-burger::after{
      bottom: 0;
   }

   .hero-burger span{
      position: absolute;
      background-color: #000;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      top: 8px;
      transition: all 0.3s ease 0s;      
   }
   
   .hero-burger.active::before{
      transform: rotate(45deg);
      background-color: #828282;
      top: 8px;
   }

   .hero-burger.active::after{
      transform: rotate(-45deg);
      background-color: #828282;
      bottom: 8px;
   }

   .hero-burger.active span{
      transform: scale(0);
   }

   .hero-name {
      display: block;
      padding-top: 55px;
      padding-bottom: 41px;
      position: relative;
      top: 0;
   }
   
   .hero-name p{
      margin-top: 34px;
      padding-left: 15px;
   }

   .hero-name__name {
      padding-top: 0;
   }

   .hero-name__lang {
      position: fixed;
      font-size: 34px;
      transform: rotate(90deg);
      left: 200px;
      top: -100%;
      width: 250px;
      z-index: 11;
      transition: all 0.3s ease 0s;
   }
   
   .hero-name__lang.active {
      top: 744px;
   }

   .hero-img__full-img{
      display: none;
   }
   
   .hero-img__mobile-img{
      display: flex;
      height: auto;
      width: 100%;
      max-width: 365px;
      
   }
   .hero-img{
      padding-bottom: 82px ;
   }
   
   .margin-block{
      margin: 82px 0 84px 0;
   }

   .h2-about{
      margin-bottom: 48px;
   }
   
   .about-text p:nth-child(1){
      padding-bottom: 48px;
   }
   .about-text p:nth-child(2){
      padding-bottom: 48px;
   }
   
   .wrapper-main-skills{
      margin-top: 83px;
      margin-bottom: 16px;
   }
   
   .wrapper-main-skills__h2{
      display: block;
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 69px;
   }
   
   .wrapper-main-skills__p{
      margin-bottom: 77px;
   }
   
   .programm-skills {
      display: block;
   }
   
   .programm-skills img{
      padding: 10px;
      padding-bottom: 72px;
   }
   
   .wrapper-main-portfolio__h2{
      padding-top: 81px;
      margin-bottom: 81px;
   }
   
   .portfolio-img figcaption{
      padding-top: 32px;
      padding-bottom: 83px;
   }
   
   .wrapper-footer {
      margin-top: 82px;
   }
   
   .wrapper-footer__welcome{
      margin: 43px auto 47px;
   }
   
   .footer__button {
      max-width: 350px;
      margin: 0 auto 86px auto;
      padding: 13px 97px 12px;
   }
   
   .wrapper-footer__end {
      margin-top: 48px;
      padding-bottom: 114px;
      font-size: 18px;
      line-height: 21px
   }
   
}